@import 'reset';

$slideNum: 5;

#slider {
    width: 100%;
    height: 100vh;
    border: 1px solid #000;
    position: relative;
    overflow: hidden;
    //부모요소 크기 대비 슬라이더 넓이값 설정 공식 (퍼센트)
    .panel {
        //부모 프레임은 100 * 패널개수
        width: calc(100% * $slideNum);
        height: 100%;
        //자식 프레임은 100 / 패널개수
        > div {
            width: calc(100% / $slideNum);
            height: 100%;
            float: left;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-attachment: fixed;
            @for $i from 1 through 5 {
                &:nth-of-type(#{$i}){
                    background-image: url(../img/pic#{$i}.jpg);
                }
            }
        }
    }
    //슬라이드 버튼
    .btns {
        width: 90%;
        height: 40px;
        position: absolute;
        bottom: 50px;
        left: 5%;
        display: flex;
        align-items: center;
        gap: 20px;
        perspective: 800px;
        li {
            width: 18%;
            height: 100%;
            border: 1px solid #222;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer ;
            transition: 0.5s all;
            &.on {
                background-color: #222;
                color: #fff;
                transform: rotateY(360deg);
            }
        }
    }
}
